@font-face {
  font-family: "iconfont"; /* Project id 5055686 */
  src: url('iconfont.woff2?t=1766732233305') format('woff2'),
       url('iconfont.woff?t=1766732233305') format('woff'),
       url('iconfont.ttf?t=1766732233305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipintonghua-tianchong:before {
  content: "\e7dd";
}

.icon-shangchuantupian:before {
  content: "\e6e9";
}

.icon-wenjianjia:before {
  content: "\eac6";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-biaoqing:before {
  content: "\e745";
}

.icon-yuyintonghuaiconx:before {
  content: "\e649";
}

.icon-shipintonghua:before {
  content: "\e670";
}

.icon-jia:before {
  content: "\e600";
}

.icon-tianjiaqunliao1:before {
  content: "\e681";
}

.icon-zhifeiji:before {
  content: "\e6a0";
}

.icon-tianjiaqunliao:before {
  content: "\e665";
}

.icon-bianji:before {
  content: "\e737";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-lianxiren:before {
  content: "\e61c";
}

.icon-qqqingliao:before {
  content: "\e634";
}

.icon-caidan:before {
  content: "\e60a";
}

.icon-chat:before {
  content: "\e647";
}

.icon-chat1:before {
  content: "\e69d";
}

